.flex_row {
  display: flex;
  align-items: flex-end;
}
.input_box {
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  padding: 0 12px 0 0;
  display: inline-block;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #070223;
  color: #7e7e7e;
  max-width: 600px;
  flex-basis: 90%;
}
.add_button {
  background: #ff234f;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  font-family: inherit;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  flex-basis: 10%;
}
.todo_list {
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 20px;
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #070223;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070223;
    color: #7e7e7e;
    font-weight: 700;
    transition: all 0.4s ease-out;
    opacity: 0;
  }
  .show {
    opacity: 1;
  }
  .btn_danger {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 12px;
    border: 2px solid #ff234f;
    background: transparent;
    background-color: #ff234f;
  }
  .completed {
    font-size: 13px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 4px 7px;
    background: transparent;
    border: 2px solid #1bca9b;
    cursor: pointer;
    color: #1bca9b;
    font-weight: 700;
  }
  .pending {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 4px 7px;
    border: 2px solid #f7ca18;
    cursor: pointer;
    color: #f7ca18;
    background-color: transparent;
    font-weight: 700;
  }
}
.tasks_count {
  font-size: 2em;
  font-weight: 700;
  color: #7e7e7e;
  @media (max-width: 767px) {
    font-size: 1.5em;
    text-align: center;
  }
  .counter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #7e7e7e;
    border-radius: 50%;
    margin: 0 6px;
    color: #7e7e7e;
    background-color: transparent;
  }
}
